//criação de variáveis
$text-color: orange;

// criação de um "mixin", que é bem semelhante as funções do JavaScript.
@mixin box-shadow($color) {
    box-shadow: 3px 3px 4px 1px $color;
}

@mixin text-effect($val) {
    // usando condicionais.
    @if $val == danger {
        color: red;
    } @else if $val == alert {
        color: yellow;
    } @else {
        color: black;
    }
}

body {
    background-color: #7159c1;
    color: $text-color;
}

.container {
    // chamando o "mixin" criado.
    @include box-shadow(rgba(0, 0, 0, 0.6));
    width: 200px;
    height: 200px;
    background-color: white;

    // variável de escopo
    $text-color: blue;

    // encadeamento
    p {
        @include box-shadow(rgba(0, 0, 0, 0.6));
        background-color: gray;
        height: 100px;
        width: 100px;
        color: $text-color;
        @include text-effect(none);
    }
}

// estrutura de repetição
@for $i from 1 through 5 {
    // é possível trocar o "through" por "to". Nesse caso, a variavel iria ser incrementada até o 4.
    .text-#{$i} {
        font-size: 15px * $i;
    }
}

// um exemplo de coleção de cores.
$colors: blue, red, yellow;

// usando o foreach.
@each $color in $colors {
    .#{$color}-text {
        color: $color;
    }
}
