//criação de variáveis
$text-color: orange;

body {
    background-color: #7159c1;
    color: $text-color;
}

.container {
    // variável de escopo
    $text-color: blue;
    
    // encadeamento
    p {
        color: $text-color;
    }
}